/data
**/__pycache__
**/*.ply
/*.pdb
code_test.py
make_data.py
**/*.log
**/*.npy
**/*.ipynb
/exelogs
/dataset/train
/dataset/val
/dataset/test
/train_tmp_log
/model
/dcgm
/logs
/benchmark_dataset
/ligand
/masif_dataset
/cache
/experiments
/data_prepare_logs
/expers
/results
/single_aa
/.vscode
/analysis
/peptide_data
/peptide_dataset
/peptide_library
/masif_raw_cache
/pep_library_one