/data
**/__pycache__
**/*.ply
/*.pdb
code_test.py
make_data.py
**/*.log
**/*.npy
**/*.ipynb
**/*.sh
/exelogs
/dataset/train
/dataset/val
/dataset/test
/train_tmp_log
/model
/dcgm
/benchmark_dataset
/ligand
/masif_dataset
/cache
